# Ignore everything
*

# Except the scripts folder and its contents
!script/
!script/**

# Except README.md
!README.md
!.gitignore

# Make sure shell scripts are tracked
!script/*.sh

# Include requirements.txt
!requirements.txt

# Include docs
!docs/
!docs/**